:root {
  --main-background-colour: rgb(255, 255, 255);
  --main-text-colour: rgb(0, 0, 0);
  --layout-border: blue solid 2px;
}

body {
  color: var(--main-text-colour);
  background-color: var(--main-background-colour);
  
}

* {
  border: var(--layout-border);
}

.pageLayout {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
}

.sidebar {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
  padding: 2px;
}

.mainContent {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 2px;
}

.header {
  color: var(--main-text-colour);
  background-color: var(--main-background-colour);
  grid-column: 1 / 3;
  grid-row: 1 / 1;
  padding: 2px;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2px;
}
